header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6em 2.4em 2.4em 2em;

    position: relative;

    .hamburger-logo-group {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;

            .hamburger {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: .3em;
                cursor: pointer;

                .line {
                    background-color: $dark-grayis-blue;
                    width: 1.6em;
                    height: .3em;
                }
            }

            .menu {
                background-color: $black;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                height: 100vh;

                z-index: 10;

                .slide-menu {
                    background-color: $white;
                    height: 100%;
                    width: 66vw;
                    padding: 2.3em;

                    img {
                        transition: transform 0.5s ease;

                        &:hover {
                            cursor: pointer;
                            transform: rotate(90deg);
                        }
                    }

                    ul {
                        list-style-type: none;
                        margin-top: 5em;
                        font-size: 1.8rem;
                        font-weight: 700;
                        display: flex;
                        flex-direction: column;
                        gap: 2.3em;

                        a, :active, :visited {
                            color: $very-vark-blue;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                                opacity: .75;
                            }
                        }
                    }
                }
            }

            .hidden {
                display: none;
            }
    }

    .card-avatar-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.2em;
        padding: 2em;

        .btnCart {
            cursor: pointer;
            position: relative;

            .cart-count {
                position: absolute;
                top: -25%;
                right: -25%;
                background-color: $orange;
                color: $white;

                font-size: 1rem;
                font-weight: 700;
                line-height: 100%;

                padding: .1em .6em;
                border-radius: 1rem;
            }
        }

        .avatar {
            width: 2.5em;
            cursor: pointer;
            border: 2px solid transparent;

            &:hover {
                border: 2px solid $orange;
                border-radius: 50%;
            }
        }
    }

    .cart {
        position: absolute;
        right: 1rem;
        top: calc(calc(100%) + 1rem);
        z-index: 1;
        background-color: $white;
        width: 35.5rem; // 1rem + 35.5rem + 1rem => 375px
        border-radius: 1rem;
        box-shadow: 0 1rem 1rem 1rem rgba($color: #000000, $alpha: .1),
                    0 1rem 2rem 1rem rgba($color: #000000, $alpha: .1);

        .cart-header {
            border-bottom: 1px solid $grayish-blue;
            padding: 2.4rem 2rem;
            font-size: 1.6rem;
            font-weight: 700;
        }

        .products-in-cart {


            .item {
                margin: 2.4rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .product-img {
                    width: 5rem;
                    border-radius: .5rem;
                }

                .details {
                    color: $dark-grayis-blue;
                    font-size: 1.6rem;
                    line-height: 2.6rem;

                    .price-group {
                        display: flex;
                        gap: .6rem;

                        .total-amount {
                            font-weight: 700;
                            font-size: 1.7rem;
                            color: $black;
                        }
                    }
                }

                #btnDelete {
                    padding: .5rem;
                    border-radius: .5rem;

                    &:hover, &:focus {
                        cursor: pointer;
                        background-color: $pale-orange;
                    }
                }
            }
        }

        .msg-empty {
            color: $dark-grayis-blue;
            font-size: 1.6rem;
            font-weight: 700;
            text-align: center;
            padding: 7.8rem 0;
        }

        .checkout {
            background-color: $orange;
            color: $white;
            font-size: 1.6rem;
            font-weight: 700;
            text-align: center;
            padding: 1.8rem;
            border-radius: 1rem;
            margin: 2.4rem;
            cursor: pointer;
        }

        .hidden {
            display: none;
        }
    }

    .hidden {
        display: none;
    }

}