.lightbox {
    position: relative;
    z-index: -1; // Something wrong is with lightbox when I remove z-index: -1; It appears on top the hamburger when open!

    .product-hero {
        width: 100%;
    }

    .previous {
        left: 4%;

        &:hover {
            left: 3%;
        }
    }

    .next {
        right: 4%;

        &:hover {
            right: 3%;
        }
    }

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        background-color: $white;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        transition: all 0.3s ease;
    }
}