@media screen and (min-width: 1200px) {
    .container {
        width: 78%;
        margin: 0 auto;
    }

    header {
        padding: 0;
        border-bottom: 1px solid $grayish-blue;

        .hamburger-logo-group {
            gap: 5.5rem;

            .hamburger {
                display: none;
            }
    
            .menu {
                display: block;
                position: unset;
                height: unset;
    
                .slide-menu {
                    width: unset;
                    padding: 0;
    
                    img {
                        display: none;
                    }

                    ul {
                        flex-direction: row;
                        margin: 0;
                        font-size: 1.5rem;
                        font-weight: 400;
                        color: $dark-grayis-blue;
                        gap: 3.4rem;

                        a {
                            display: block;
                            padding: 4rem 0;
                            border-bottom: 3px solid transparent;

                            &:hover, &:focus {
                                color: $very-vark-blue;
                                text-decoration: none;
                                font-weight: 700;
                                border-bottom: 3px solid $orange;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        .card-avatar-group {
            padding: 4.5rem;

            .avatar {
                width: 5rem;
            }

        }

        .cart {
            right: - 7rem;
            top: 90%;
        }
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10rem;
        padding: 9rem 5rem;
    }

    .lightbox {
        width: 100%;

        .product-hero {
            border-radius: 1.5rem;
        }

        .previous, .next {
            display: none;
        }

        .thumb-gallery {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 3rem;

            .pic {
                display: flex;
                width: 20%;
                height: fit-content;
                overflow: hidden;

                border-radius: 1rem;
                border: 2px solid transparent;


                img {
                    width: 100%;

                    &:hover, &:focus {
                        opacity: .75;
                    }
                }
            }

            .active {
                border: 2px solid $orange;

                img {
                    opacity: .5;
                }
            }
        }
    }

    .product {
        width: 100%;
        padding: 3rem 0 3rem 3rem;

        .title {
            font-size: 4.4rem;
            margin-top: 1.8rem;
        }

        .description {
            margin-top: 3.5rem;
            font-size: 1.6rem;
        }

        .price-container {
            flex-direction: column;
            align-items: flex-start;
            gap: .8rem;
            margin-top: 2.4rem;
        }

        .count-btn-group {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            margin-top: 1.5rem;

            .counter-container {
                width: 62%;
                border-radius: 1rem;
                padding: 1.2rem .5rem;
            }

            .btn {
                width: 100%;
            }
        }
    }
}